*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
 background-color: #fff;
 font-family: 'Lato', 'Arial', san-serif;
 Color: #555;
 Font-weight: 300;
 Font-size: 20px;
 Text-rendering: optimizeLegibility;
}

h1 {
 font-family: 'Lato', sans-serif;
 
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.title {
 display: inline-block;
 
 
}

.main-nav {
 display: inline-block;
 float: right;
 list-style: none;
 
    margin-top: 40px;
}

.main-nav li{
 display: inline-block;
margin-right: 40px;    
}

.main-nav li a:link,
.main-nav li a:visited {
 text-decoration: none;
 color: #202020;
 border-bottom: 2px solid transparent;
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:visited {
 text-decoration: none;
 color: #202020;
    border-bottom: 2px solid #313131;
}

.motto {
    font-size: 0.8em;
    font-weight: 50;
    padding-top: 55%;
}

.principal-imagen{
    background-image: url(img/fotocv.jpg);
    background-size: contain;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}

section h2 {

display: inline-block;
float: left;
list-style: none;
margin-top: 80px;
margin-right: 80px;
}

